<main class="f">
    <section class="bg-grey-3 f-col a-cent">
        <div class="f-col a-cent mb2">
            <p class="larger-text ptb2">{{ pseudo }}</p>
            <button (click)="componentToShow = 'search'">Rechercher</button>
        </div>
        <div class="prl2">
            <h3 class="mb1">Ma playlist</h3>
            @for(video of videos; track $index) {
            <div class="f a-cent j-betw mb2">
                <img [src]="video.thumbnailUrl" alt="{{ video.title }}" (click)="selectVideo(video)"
                    class="cursorPointer" />
                <p class="ml2">{{ video.title }}</p>
                <button class="smallBtn" (click)="removeVideoFromPlaylist(video)">X</button>
            </div>
            } @empty {
            <p>Aucune vidéo dans votre playlist</p>
            }
        </div>
    </section>
    <section class="f-col a-cent">
        @if(componentToShow === 'watch') {
        <app-watch-video [video]="selectedVideo"></app-watch-video>
        }
        @if(componentToShow === 'search') {
        <app-search-videos></app-search-videos>
        }
    </section>
</main>