<main class="f f-m-col a-cent prl2">
    <div class="f-col a-cent">
        <h1 class="mb2">Créez vos super playlists</h1>
        <ol class="mb3">
            <li>Parcourez les vidéos disponibles sur YouTube avec une facilité déconcertante grâce à la recherche
                par
                mot-clé</li>
            <li>Gérez votre playlist avec une grande simplicité grâce à l'ajout et la suppression de vidéo</li>
            <li>Il y a même un lecteur vidéo intégré ... !</li>
        </ol>
        <a routerLink="/register" class="mb3">
            <button>S'inscrire</button>
        </a>
    </div>
    <div class="f-col a-cent">
        <img src="https://images.pexels.com/photos/3784324/pexels-photo-3784324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="mb3 image" alt="Personne choquée de la qualité du service" />

        <p class="mb3 description mb2">Tous nos utilisateurs sont choqués de la qualité de ce service !</p>
    </div>
</main>